<!-- <app-navbar [childData]="parentData" [othrData]="anathrData" (logDataEvent)="logData('aNGULAR')"></app-navbar>
 <app-navbar></app-navbar>
<h1>Hello World!!</h1>
<input type="text" [(ngModel)]="name">
<h1>{{name}}</h1>

<ul *ngIf="isHidden; else noData">
    <li *ngFor="let item of peopleList">
        {{item.name}} {{item.age}}
    </li>
</ul>
<ng-template #noData>No data to display</ng-template>

<button (click)="toggle()">Toggle</button>

<h1>{{count}}</h1>
<button (click)="incrementCount()">Increment</button>

<button routerLink="">Home</button>
<button routerLink="about">About</button>


<br>
<br>
<button routerLink="user/10">Shivam</button>
<button routerLink="user/20">Amit</button>

<router-outlet></router-outlet>


<br><br><br> -->
<!-- <app-user></app-user> -->

<!-- <app-home></app-home> -->
